<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHrm.com">
    <test name="LoginPage">
        <classes>
            <class name="Tests.LoginPageTest">
            </class>
        </classes>
    </test>
    
    <test name="DashboardPage">
		<classes>
			<class name="Tests.DashboardPageTest" />
		</classes>
	</test>
	
	<test name="AdminPageTest">
		<classes>
			<class name="Tests.AdminPageTest" />
		</classes>
	</test>
</suite>
